################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/lib/rp2.py
/lib/adafruit_pioasm.mpy
/lib/pmk/platform/display/dotstar.py
/lib/pmk/platform/display/keybow2040.py
/lib/pmk/platform/display/__init__.py
/lib/pmk/platform/keybow2040.py
/lib/pmk/platform/rgbkeypadbase.py
/lib/pmk/platform/switches/gpio.py
/lib/pmk/platform/switches/tca9555.py
/lib/pmk/platform/switches/__init__.py
/lib/pmk/platform/__init__.py
/lib/pmk/__init__.py
/lib/adafruit_is31fl3731/charlie_bonnet.mpy
/lib/adafruit_is31fl3731/charlie_wing.mpy
/lib/adafruit_is31fl3731/keybow2040.mpy
/lib/adafruit_hid/consumer_control.mpy
/lib/adafruit_hid/consumer_control_code.mpy
/lib/adafruit_hid/keyboard.mpy
/lib/adafruit_hid/keyboard_layout_base.mpy
/lib/adafruit_hid/keyboard_layout_us.mpy
/lib/adafruit_hid/keycode.mpy
/lib/adafruit_hid/mouse.mpy
/lib/adafruit_hid/__init__.mpy
/lib/adafruit_is31fl3731/led_shim.mpy
/lib/adafruit_is31fl3731/matrix.mpy
/lib/adafruit_is31fl3731/matrix_11x7.mpy
/lib/adafruit_is31fl3731/rgbmatrix5x5.mpy
/lib/adafruit_is31fl3731/scroll_phat_hd.mpy
/lib/adafruit_is31fl3731/__init__.mpy
